.detail
{
    background-color: #111111;
    color: #FFFFFF;
    height: 500px;
    
}
.hero
{
    width: 100%;
}
    .hero img
    {
        top: 0;
        left: 0;
        width: 100%;
        margin-top: -20%;
    }
